--
-- PostgreSQL database dump
--

\restrict AzZ04fzRzEKhmAbDr85G7tMnvBc9RfyGzDeksqhD8hY3dzLJ2e2HfZanZELgyT5

-- Dumped from database version 17.10 (Debian 17.10-1.pgdg13+1)
-- Dumped by pg_dump version 17.10 (Debian 17.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: query_history; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.query_history (
    id integer NOT NULL,
    user_id integer,
    session_id integer,
    question text,
    generated_sql text,
    database_type character varying(50),
    execution_time double precision,
    success boolean,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.query_history OWNER TO admin;

--
-- Name: query_history_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.query_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.query_history_id_seq OWNER TO admin;

--
-- Name: query_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.query_history_id_seq OWNED BY public.query_history.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.sessions (
    id integer NOT NULL,
    user_id integer,
    db_type character varying(50),
    db_config text,
    conversation_history text DEFAULT '[]'::text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_activity timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sessions OWNER TO admin;

--
-- Name: sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.sessions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.sessions_id_seq OWNER TO admin;

--
-- Name: sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.sessions_id_seq OWNED BY public.sessions.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    password_hash text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: query_history id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.query_history ALTER COLUMN id SET DEFAULT nextval('public.query_history_id_seq'::regclass);


--
-- Name: sessions id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sessions ALTER COLUMN id SET DEFAULT nextval('public.sessions_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: query_history; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.query_history (id, user_id, session_id, question, generated_sql, database_type, execution_time, success, created_at) FROM stdin;
1	1	1	number of beauty products sold monthly\n	SELECT COUNT(*) AS num_beauty_products, strftime('%Y-%m', o.order_date) AS month FROM orders o JOIN order_items oi ON o.order_id = oi.order_id JOIN products p ON oi.product_id = p.product_id WHERE p.category = 'Beauty' GROUP BY month;	sqlite	5.923909664154053	t	2026-06-18 08:23:45.695099
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.sessions (id, user_id, db_type, db_config, conversation_history, created_at, last_activity) FROM stdin;
1	1	sqlite	{"path": "uploads\\\\ecommerce.db"}	[{"question": "number of beauty products sold monthly\\n", "sql": "SELECT COUNT(*) AS num_beauty_products, strftime('%Y-%m', o.order_date) AS month FROM orders o JOIN order_items oi ON o.order_id = oi.order_id JOIN products p ON oi.product_id = p.product_id WHERE p.category = 'Beauty' GROUP BY month;"}]	2026-06-18 08:23:11.766664	2026-06-18 08:23:45.684263
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (id, email, password_hash, created_at) FROM stdin;
1	exampl1@gmail.com	$bcrypt-sha256$v=2,t=2b,r=12$1hoMen3XnjA2QGK6iZxCCe$AGsbYqQddO9wsf8aCfTx85LMFC/y8tu	2026-06-18 08:22:49.363083
\.


--
-- Name: query_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.query_history_id_seq', 1, true);


--
-- Name: sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.sessions_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 1, true);


--
-- Name: query_history query_history_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.query_history
    ADD CONSTRAINT query_history_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_history_session; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_history_session ON public.query_history USING btree (session_id);


--
-- Name: idx_history_user; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_history_user ON public.query_history USING btree (user_id);


--
-- Name: idx_sessions_user; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX idx_sessions_user ON public.sessions USING btree (user_id);


--
-- Name: query_history query_history_session_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.query_history
    ADD CONSTRAINT query_history_session_id_fkey FOREIGN KEY (session_id) REFERENCES public.sessions(id);


--
-- Name: query_history query_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.query_history
    ADD CONSTRAINT query_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: sessions sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict AzZ04fzRzEKhmAbDr85G7tMnvBc9RfyGzDeksqhD8hY3dzLJ2e2HfZanZELgyT5

